version: "3.8"

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: omnifin_db
      POSTGRES_USER: omnifin_user
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    ports:
      - "8001:8001"
    depends_on:
      - db
      - redis
    command: >
      sh -c "python manage.py migrate &&
             python manage.py create_default_admin &&
             python manage.py create_default_plans &&
             python manage.py collectstatic --noinput &&
             python manage.py runserver 0.0.0.0:8001"

  frontend:
    build:
      context: ./frontend-web
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    env_file:
      - ./frontend-web/.env
    volumes:
      - ./frontend-web:/app
      - /app/node_modules
    command: "npm run start"

volumes:
  postgres_data:
  redis_data:
